<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">

    <link rel="stylesheet" href="./styles.css">

  </head>
  <body>

    <div class="topBar">
        <p>MYSTERY WORD</p>
    </div>

<div class="gameArea">
  <div class="remaining">
    {{#killswitch}}
    {{#killLose}}<p>YOU LOSE</p>{{/killLose}}
    {{#killWin}}<p>YOU WIN</p>{{/killWin}}
    <form class="restart" action="/newgame" method="post"><button type="submit" >Try Again</button>

    </form>{{/killswitch}}
    {{^killswitch}}<p>Guesses Remaining: <span>{{gameLives}}</span> </p>{{/killswitch}}
  </div>
  <div class="guessHere">
    <form class="guessForm" action="/" method="post">
      <input type="text" name="playerGuess" value = "" placeholder="Guess one letter">
      <input class="guessButton" type="submit" name="guessButton" value="Guess!">
    </form>
    <div class="gameSpace">
      <span>{{#gameArr}}{{.}}{{/gameArr}}</span>
    </div>
    <div class="lettersUsed">
      <p>Letters Used: <span>{{deadLetters}}</span></p>
    </div>
  </div>

</div>
  </body>
</html>
